@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fadeIn {
  -webkit-animation: fadeIn 1s ease both;
  -moz-animation: fadeIn 1s ease both; }

.fadeOut {
  -webkit-animation: fadeOut 1s ease both;
  -moz-animation: fadeOut 1s ease both; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.bounce {
  -webkit-animation: bounce 1s .2s ease both;
  -moz-animation: bounce 1s .2s ease both; }

@-webkit-keyframes bounce {
  0%,20%,50%,80%,100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }
@-moz-keyframes bounce {
  0%,20%,50%,80%,100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px); } }
html, body, button, input, select, textarea {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Microsoft YaHei"; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th {
  text-align: left;
  font-weight: normal; }

html, body, fieldset, img, iframe, abbr {
  border: 0; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  overflow-x: hidden; }

i, em {
  font-style: normal; }

ol, ul, li {
  list-style: none; }

h1, h2, h3, h4, h5, h6, small {
  font-size: 100%;
  font-weight: normal; }

textarea {
  overflow: auto;
  resize: none; }

label {
  cursor: default; }

a, button {
  cursor: pointer; }

a, a:active {
  color: #333;
  text-decoration: none; }

a:hover {
  color: #FE5574; }

iframe {
  display: block; }

input[type="submit"] {
  border: none; }

button, input, select, textarea {
  font-size: 100%; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  padding: 0;
  box-sizing: border-box;
  vertical-align: -2px;
  margin: 0px 3px 0px 0px;
  cursor: pointer; }

.form-item input[type="text"]:focus, .form-item textarea:focus, .form-item .row textarea:focus, .form-item input[type="password"]:focus {
  border: 1px solid #55acef; }

a {
  outline: none; }

.clearfix {
  zoom: 1; }
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.pointer {
  cursor: pointer; }

.none {
  display: none; }

.fb {
  font-weight: bold; }

.fn {
  font-weight: normal; }

.no-unl {
  text-decoration: none; }

.word-break {
  word-break: break-all;
  word-wrap: break-word; }

.tl {
  text-align: left !important;
  text-align-last: left; }

.tc {
  text-align: center !important;
  text-align-last: center; }

.tr {
  text-align: right !important;
  text-align-last: right; }

.tj {
  text-align: justify !important;
  text-align-last: justify;
  text-justify: inter-ideograph; }

.fl {
  float: left !important; }

.fr {
  float: right !important; }

.vm {
  vertical-align: middle; }

.vt {
  vertical-align: top; }

.pr {
  position: relative; }

.pa {
  position: absolute; }

.mAuto {
  margin-left: auto;
  margin-right: auto; }

.oh {
  overflow: hidden; }

.block {
  display: block; }

.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.m0 {
  margin-fasle: 0px; }

.mt0 {
  margin-top: 0px; }

.ml0 {
  margin-left: 0px; }

.mr0 {
  margin-right: 0px; }

.mb0 {
  margin-bottom: 0px; }

.m3 {
  margin-fasle: 3px; }

.mt3 {
  margin-top: 3px; }

.ml3 {
  margin-left: 3px; }

.mr3 {
  margin-right: 3px; }

.mb3 {
  margin-bottom: 3px; }

.m5 {
  margin-fasle: 5px; }

.mt5 {
  margin-top: 5px; }

.ml5 {
  margin-left: 5px; }

.mr5 {
  margin-right: 5px; }

.mb5 {
  margin-bottom: 5px; }

.m10 {
  margin-fasle: 10px; }

.mt10 {
  margin-top: 10px; }

.ml10 {
  margin-left: 10px; }

.mr10 {
  margin-right: 10px; }

.mb10 {
  margin-bottom: 10px; }

.m15 {
  margin-fasle: 15px; }

.mt15 {
  margin-top: 15px; }

.ml15 {
  margin-left: 15px; }

.mr15 {
  margin-right: 15px; }

.mb15 {
  margin-bottom: 15px; }

.m20 {
  margin-fasle: 20px; }

.mt20 {
  margin-top: 20px; }

.ml20 {
  margin-left: 20px; }

.mr20 {
  margin-right: 20px; }

.mb20 {
  margin-bottom: 20px; }

.m25 {
  margin-fasle: 25px; }

.mt25 {
  margin-top: 25px; }

.ml25 {
  margin-left: 25px; }

.mr25 {
  margin-right: 25px; }

.mb25 {
  margin-bottom: 25px; }

.m35 {
  margin-fasle: 35px; }

.mt35 {
  margin-top: 35px; }

.ml35 {
  margin-left: 35px; }

.mr35 {
  margin-right: 35px; }

.mb35 {
  margin-bottom: 35px; }

.m30 {
  margin-fasle: 30px; }

.mt30 {
  margin-top: 30px; }

.ml30 {
  margin-left: 30px; }

.mr30 {
  margin-right: 30px; }

.mb30 {
  margin-bottom: 30px; }

.m40 {
  margin-fasle: 40px; }

.mt40 {
  margin-top: 40px; }

.ml40 {
  margin-left: 40px; }

.mr40 {
  margin-right: 40px; }

.mb40 {
  margin-bottom: 40px; }

.m50 {
  margin-fasle: 50px; }

.mt50 {
  margin-top: 50px; }

.ml50 {
  margin-left: 50px; }

.mr50 {
  margin-right: 50px; }

.mb50 {
  margin-bottom: 50px; }

.m70 {
  margin-fasle: 70px; }

.mt70 {
  margin-top: 70px; }

.ml70 {
  margin-left: 70px; }

.mr70 {
  margin-right: 70px; }

.mb70 {
  margin-bottom: 70px; }

.p0 {
  padding: 0px; }

.pt0 {
  padding-top: 0px; }

.pl0 {
  padding-left: 0px; }

.pr0 {
  padding-right: 0px; }

.pb0 {
  padding-bottom: 0px; }

.p2 {
  padding: 2px; }

.pt2 {
  padding-top: 2px; }

.pl2 {
  padding-left: 2px; }

.pr2 {
  padding-right: 2px; }

.pb2 {
  padding-bottom: 2px; }

.p3 {
  padding: 3px; }

.pt3 {
  padding-top: 3px; }

.pl3 {
  padding-left: 3px; }

.pr3 {
  padding-right: 3px; }

.pb3 {
  padding-bottom: 3px; }

.p5 {
  padding: 5px; }

.pt5 {
  padding-top: 5px; }

.pl5 {
  padding-left: 5px; }

.pr5 {
  padding-right: 5px; }

.pb5 {
  padding-bottom: 5px; }

.p10 {
  padding: 10px; }

.pt10 {
  padding-top: 10px; }

.pl10 {
  padding-left: 10px; }

.pr10 {
  padding-right: 10px; }

.pb10 {
  padding-bottom: 10px; }

.p15 {
  padding: 15px; }

.pt15 {
  padding-top: 15px; }

.pl15 {
  padding-left: 15px; }

.pr15 {
  padding-right: 15px; }

.pb15 {
  padding-bottom: 15px; }

.p20 {
  padding: 20px; }

.pt20 {
  padding-top: 20px; }

.pl20 {
  padding-left: 20px; }

.pr20 {
  padding-right: 20px; }

.pb20 {
  padding-bottom: 20px; }

.p25 {
  padding: 25px; }

.pt25 {
  padding-top: 25px; }

.pl25 {
  padding-left: 25px; }

.pr25 {
  padding-right: 25px; }

.pb25 {
  padding-bottom: 25px; }

.p30 {
  padding: 30px; }

.pt30 {
  padding-top: 30px; }

.pl30 {
  padding-left: 30px; }

.pr30 {
  padding-right: 30px; }

.pb30 {
  padding-bottom: 30px; }

.p40 {
  padding: 40px; }

.pt40 {
  padding-top: 40px; }

.pl40 {
  padding-left: 40px; }

.pr40 {
  padding-right: 40px; }

.pb40 {
  padding-bottom: 40px; }

.p50 {
  padding: 50px; }

.pt50 {
  padding-top: 50px; }

.pl50 {
  padding-left: 50px; }

.pr50 {
  padding-right: 50px; }

.pb50 {
  padding-bottom: 50px; }

.p60 {
  padding: 60px; }

.pt60 {
  padding-top: 60px; }

.pl60 {
  padding-left: 60px; }

.pr60 {
  padding-right: 60px; }

.pb60 {
  padding-bottom: 60px; }

.p70 {
  padding: 70px; }

.pt70 {
  padding-top: 70px; }

.pl70 {
  padding-left: 70px; }

.pr70 {
  padding-right: 70px; }

.pb70 {
  padding-bottom: 70px; }

.p80 {
  padding: 80px; }

.pt80 {
  padding-top: 80px; }

.pl80 {
  padding-left: 80px; }

.pr80 {
  padding-right: 80px; }

.pb80 {
  padding-bottom: 80px; }

.p100 {
  padding: 100px; }

.pt100 {
  padding-top: 100px; }

.pl100 {
  padding-left: 100px; }

.pr100 {
  padding-right: 100px; }

.pb100 {
  padding-bottom: 100px; }

.p110 {
  padding: 110px; }

.pt110 {
  padding-top: 110px; }

.pl110 {
  padding-left: 110px; }

.pr110 {
  padding-right: 110px; }

.pb110 {
  padding-bottom: 110px; }

.p120 {
  padding: 120px; }

.pt120 {
  padding-top: 120px; }

.pl120 {
  padding-left: 120px; }

.pr120 {
  padding-right: 120px; }

.pb120 {
  padding-bottom: 120px; }

.p130 {
  padding: 130px; }

.pt130 {
  padding-top: 130px; }

.pl130 {
  padding-left: 130px; }

.pr130 {
  padding-right: 130px; }

.pb130 {
  padding-bottom: 130px; }

.br0 {
  border-radius: 0px !important; }

.br2 {
  border-radius: 2px !important; }

.br3 {
  border-radius: 3px !important; }

.br5 {
  border-radius: 5px !important; }

.br10 {
  border-radius: 10px !important; }

.br15 {
  border-radius: 15px !important; }

.br20 {
  border-radius: 20px !important; }

.br25 {
  border-radius: 25px !important; }

.br30 {
  border-radius: 30px !important; }

.br50 {
  border-radius: 50px !important; }

.br60 {
  border-radius: 60px !important; }

.br80 {
  border-radius: 80px !important; }

.br100 {
  border-radius: 100px !important; }

.fs11 {
  font-size: 11px !important; }

.fs12 {
  font-size: 12px !important; }

.fs13 {
  font-size: 13px !important; }

.fs14 {
  font-size: 14px !important; }

.fs15 {
  font-size: 15px !important; }

.fs16 {
  font-size: 16px !important; }

.fs18 {
  font-size: 18px !important; }

.fs20 {
  font-size: 20px !important; }

.fs22 {
  font-size: 22px !important; }

.fs24 {
  font-size: 24px !important; }

.fs26 {
  font-size: 26px !important; }

.fs28 {
  font-size: 28px !important; }

.fs30 {
  font-size: 30px !important; }

.fs32 {
  font-size: 32px !important; }

.fs34 {
  font-size: 34px !important; }

.fs36 {
  font-size: 36px !important; }

.fs40 {
  font-size: 40px !important; }

.fs46 {
  font-size: 46px !important; }

.fs50 {
  font-size: 50px !important; }

.fs54 {
  font-size: 54px !important; }

.fs65 {
  font-size: 65px !important; }

.fs80 {
  font-size: 80px !important; }

.w50 {
  width: 50px; }

.w80 {
  width: 80px; }

.w100 {
  width: 100px; }

.w120 {
  width: 120px; }

.w130 {
  width: 130px; }

.w150 {
  width: 150px; }

.w160 {
  width: 160px; }

.w180 {
  width: 180px; }

.w190 {
  width: 190px; }

.w200 {
  width: 200px; }

.w230 {
  width: 230px; }

.w250 {
  width: 250px; }

.w280 {
  width: 280px; }

.w300 {
  width: 300px; }

.w320 {
  width: 320px; }

.w340 {
  width: 340px; }

.w350 {
  width: 350px; }

.w360 {
  width: 360px; }

.w370 {
  width: 370px; }

.w380 {
  width: 380px; }

.w400 {
  width: 400px; }

.w420 {
  width: 420px; }

.w450 {
  width: 450px; }

.w550 {
  width: 550px; }

.w630 {
  width: 630px; }

.w650 {
  width: 650px; }

.w700 {
  width: 700px; }

.w750 {
  width: 750px; }

.w800 {
  width: 800px; }

.w840 {
  width: 840px; }

.w10_b {
  min-height: 1px;
  width: 10%; }

.w12_b {
  min-height: 1px;
  width: 12%; }

.w14_b {
  min-height: 1px;
  width: 14%; }

.w15_b {
  min-height: 1px;
  width: 15%; }

.w20_b {
  min-height: 1px;
  width: 20%; }

.w30_b {
  min-height: 1px;
  width: 30%; }

.w40_b {
  min-height: 1px;
  width: 40%; }

.w45_b {
  min-height: 1px;
  width: 45%; }

.w50_b {
  min-height: 1px;
  width: 50%; }

.w52_b {
  min-height: 1px;
  width: 52%; }

.w60_b {
  min-height: 1px;
  width: 60%; }

.w88_b {
  min-height: 1px;
  width: 88%; }

.w44_b {
  min-height: 1px;
  width: 44%; }

.w100f {
  width: 100%; }

.h10 {
  height: 10px; }

.h40 {
  height: 40px; }

.h43 {
  height: 43px; }

.h60 {
  height: 60px; }

.lh1 {
  line-height: 1; }

.lh2 {
  line-height: 2; }

.min-h1 {
  min-height: 1px; }

.min-h2 {
  min-height: 2px; }

.lh1_5 {
  line-height: 1.5; }

.wAuto {
  width: auto !important; }

.cont-wrap {
  width: 1200px; }

.bd-lft {
  zoom: 1;
  overflow: hidden; }
  .bd-lft .bd-lft-aside {
    float: left;
    margin-left: -100%;
    position: relative; }
  .bd-lft .bd-lft-main {
    float: left;
    width: 100%; }

.text-overflow {
  word-break: nowrap;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.bd-lft.lw50 {
  padding-left: 70px; }

.bd-lft.lw50 .bd-lft-aside {
  width: 50px;
  left: -70px; }

.bd-lft.lw200 {
  padding-left: 220px; }

.bd-lft.lw200 .bd-lft-aside {
  width: 200px;
  left: -220px; }

.border-radius {
  border-radius: 3px; }

.border-radius100 {
  border-radius: 100%; }

.uba1 {
  border: 1px solid; }

.ubt1 {
  border-top: 1px solid; }

.ubb1 {
  border-bottom: 1px solid; }

.ubl1 {
  border-left: 1px solid; }

.ubr1 {
  border-right: 1px solid; }

.ubda1 {
  border: 1px dashed; }

.ubdt1 {
  border-top: 1px dashed; }

.ubdb1 {
  border-bottom: 1px dashed; }

.ubdl1 {
  border-left: 1px dashed; }

.ubdr1 {
  border-right: 1px dashed; }

.uba2 {
  border: 2px solid; }

.ubt2 {
  border-top: 2px solid; }

.ubb2 {
  border-bottom: 2px solid; }

.ubl2 {
  border-left: 2px solid; }

.ubr2 {
  border-right: 2px solid; }

.ubda2 {
  border: 2px dashed; }

.ubdt2 {
  border-top: 2px dashed; }

.ubdb2 {
  border-bottom: 2px dashed; }

.ubdl2 {
  border-left: 2px dashed; }

.ubdr2 {
  border-right: 2px dashed; }

.uba3 {
  border: 3px solid; }

.ubt3 {
  border-top: 3px solid; }

.ubb3 {
  border-bottom: 3px solid; }

.ubl3 {
  border-left: 3px solid; }

.ubr3 {
  border-right: 3px solid; }

.ubda3 {
  border: 3px dashed; }

.ubdt3 {
  border-top: 3px dashed; }

.ubdb3 {
  border-bottom: 3px dashed; }

.ubdl3 {
  border-left: 3px dashed; }

.ubdr3 {
  border-right: 3px dashed; }

.uba4 {
  border: 4px solid; }

.ubt4 {
  border-top: 4px solid; }

.ubb4 {
  border-bottom: 4px solid; }

.ubl4 {
  border-left: 4px solid; }

.ubr4 {
  border-right: 4px solid; }

.ubda4 {
  border: 4px dashed; }

.ubdt4 {
  border-top: 4px dashed; }

.ubdb4 {
  border-bottom: 4px dashed; }

.ubdl4 {
  border-left: 4px dashed; }

.ubdr4 {
  border-right: 4px dashed; }

.bg-none {
  background: none !important; }

.bn {
  border: none !important; }

.gray {
  color: #999; }

.black {
  color: #000; }

.orange-bg {
  background-color: #ff8a10; }

.base-border {
  border-color: #70a938; }

.fuzzy-border {
  border-color: #e6e6e6; }

.fuzzy-light-border {
  border-color: whitesmoke; }

.desalt-border {
  border-color: #999; }

.warn-border {
  border-color: #ff8a10; }

.fuzzy-color {
  color: #e6e6e6; }

.desalt-dark-color {
  color: #666666; }

.desalt-light-color {
  color: #cccccc; }

.desalt-color {
  color: #999; }

.desalt-color2 {
  color: #aaa; }

.base-color {
  color: #70a938; }

.blue-color {
  color: #1386df; }

.warn-color {
  color: #ff8a10; }

.white-border {
  border-color: #fff; }

.base-light-border {
  border-color: #a3d176; }

.contrary-border {
  border-color: #ce543d; }

.contrary-color {
  color: #ce543d; }

.contrary-light-bg {
  background-color: #f1cec7; }

.contrary-bg {
  background-color: #ce543d; }

.white-color {
  color: #fff; }

.gray-border {
  border-color: #f0f0f0; }

.gray-darken-border {
  border-color: #3d3d3d; }

.gray-bg {
  background-color: #f0f0f0; }

.white-bg {
  background-color: #fff; }

.base-bg {
  background-color: #70a938; }

.assist-bg {
  background-color: #ffb200; }

.assist-color {
  color: #ffb200; }

.assist2-color {
  color: #ff8a10; }

.base-light-bg {
  background-color: #d6ebc2; }

.fuzzy-light-bg {
  background-color: #f3f3f3; }

.relative-bg {
  background-color: #417CA9; }

.relative-dark-bg {
  background-color: #2c5372; }

.warn-bg {
  background-color: #ff8a10; }

.warn-light-bg {
  background-color: #ffd5a9; }

.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0.4em 1.6em;
  border-radius: 0.2em;
  cursor: pointer;
  transition: background 0.5s, color 0.5s;
  text-align: center;
  border: 1px solid #f3f3f3; }

.base-btn {
  background: #70a938;
  border: 1px solid #70a938;
  color: #fff; }
  .base-btn:hover {
    background: #57832b;
    color: #fff; }

.assist-btn {
  background: #ffb200;
  border: 1px solid #ffb200;
  color: #fff; }
  .assist-btn:hover {
    background: #cc8e00;
    color: #fff; }
  .assist-btn.disabled {
    opacity: 0.7;
    filter: alpha(opacity=70); }

.base-border-btn {
  border: 1px solid #70a938;
  color: #70a938; }
  .base-border-btn:hover {
    background: #70a938;
    color: #fff; }

.tab-head {
  padding: 0 1px;
  background: #f8f8f8;
  border: 1px solid #e6e6e6;
  border-bottom: none; }
  .tab-head.tab-w2 .tab-btn {
    width: 50%; }
  .tab-head.tab-w3 .tab-btn {
    width: 33.33%; }
  .tab-head.tab-w5 .tab-btn {
    width: 20%; }
  .tab-head.tab-w4 .tab-btn {
    width: 25%; }
  .tab-head .tab-btn {
    padding: 10px 0;
    float: left;
    cursor: pointer; }
    .tab-head .tab-btn.active {
      background: #fff;
      margin: 0 -1px;
      border-left: 1px solid #e6e6e6;
      border-right: 1px solid #e6e6e6;
      border-top: 2px solid #70a938; }

.tab-box {
  display: none; }
  .tab-box.active {
    display: block; }

.slider-row .slide-head.open {
  background: #c2e1a4; }
.slider-row .slide-head .slide-icon {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  text-align: center; }
.slider-row .slide-cont {
  display: none; }
  .slider-row .slide-cont.open {
    display: block; }

.page .page-idx {
  border: 1px solid #e6e6e6;
  width: 40px;
  height: 40px;
  color: #999;
  text-align: center;
  line-height: 40px;
  padding: 4px 10px;
  background: #fff; }
  .page .page-idx:active, .page .page-idx.active, .page .page-idx:hover {
    background: #70a938;
    color: #fff;
    border: 1px solid #e6e6e6; }
.page .page-input {
  height: 29px;
  line-height: 29px; }

.date-wrap-box {
  overflow: hidden;
  width: 100.15%;
  margin: 0 0 -1px; }
  .date-wrap-box .item-span {
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    float: left;
    font-size: 15px;
    width: 14.28%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    position: relative;
    box-sizing: border-box; }
    .date-wrap-box .item-span.head-span {
      background: #e6e6e6;
      border-right: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6; }
    .date-wrap-box .item-span i {
      position: absolute;
      right: 5px;
      top: 5px;
      line-height: 14px;
      height: 14px;
      width: 14px;
      background-color: green;
      color: #fff;
      border-radius: 100%;
      font-size: 8px; }
    .date-wrap-box .item-span.today {
      color: red;
      border: 1px solid red; }
    .date-wrap-box .item-span.remoney:hover {
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); }
    .date-wrap-box .item-span.remoney {
      color: green;
      border: 1px solid green;
      cursor: pointer; }

.calButtons input,
.calControl input,
.calControl select {
  vertical-align: middle;
  cursor: pointer;
  width: 70px;
  height: 30px;
  border: 1px solid #eee;
  background-color: #fff; }

.calButtons input:hover,
.calControl input:hover {
  border: 1px solid #E5322C;
  color: #E5322C; }

.modal-open {
  overflow: hidden; }

.modal {
  bottom: 0;
  display: none;
  left: 0;
  outline: 0 none;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1040;
  text-align: center; }

.modal.fade .modal-dialog {
  transform: translate(0px, -25%);
  transition: transform 0.3s ease-out 0s; }

.modal.in .modal-dialog {
  transform: translate(0px, 0px); }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal-dialog {
  margin: 10px;
  position: relative;
  width: auto;
  display: inline-block;
  min-width: 600px;
  max-width: 1000px;
  text-align: left;
  vertical-align: middle; }

.modal-dialog.sm {
  max-width: 400px; }

.modal-dialog.md {
  max-width: 900px; }

.modal-dialog.hide {
  display: none; }

.modal-content {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0 none;
  position: relative; }

.modal-backdrop {
  background-color: #000;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0); }

.modal-backdrop.in {
  opacity: 0.75;
  filter: alpha(opacity=75); }

.modal-header {
  min-height: 16.43px;
  padding: 15px;
  position: relative; }

.modal-header:after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  bottom: 0;
  content: "";
  height: 1px;
  left: 15px;
  position: absolute;
  right: 15px; }

.modal-header .close {
  margin-top: -2px; }

.modal-title {
  line-height: 1.42857;
  margin: 0;
  font-size: 18px;
  font-weight: 300; }

.modal-body {
  padding: 15px;
  position: relative;
  min-height: 90px; }

.modal-footer {
  border-top: 1px solid #e5e5e5;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.024);
  border-color: rgba(0, 0, 0, 0.04);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #5c7174;
  padding: 10px 15px; }

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px; }

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px; }

.modal-footer .btn-block + .btn-block {
  margin-left: 0; }

.modal-scrollbar-measure {
  height: 50px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
  width: 50px; }

.modal:before {
  content: "";
  display: inline-block;
  height: 100%;
  margin-left: -1em;
  vertical-align: middle;
  width: 0; }

.modal.fade:not(.animated) .modal-dialog {
  opacity: 0;
  transform: translateY(-150%);
  transition: all 0.5s linear 0.5s; }

.modal.fade.in:not(.animated) .modal-dialog {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.5s ease 0s; }

.bootbox.modal.in:not(.fade) {
  opacity: 1;
  transition: opacity 0s ease 0s, all 0.5s ease 0s; }

.bootbox.modal:not(.fade) {
  opacity: 0;
  transition: opacity 0.5s linear 0.5s; }

.modal-dialog.animated {
  animation-duration: 1.2s; }

.modal-body .close, .modal-header .close {
  background-color: transparent !important;
  left: auto;
  position: absolute;
  right: 10px;
  top: 15px; }

.close {
  color: #000;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  opacity: 0.2;
  text-shadow: 0 1px 0 #fff; }

.close:hover, .close:focus {
  color: #000;
  cursor: pointer;
  opacity: 0.5;
  text-decoration: none; }

button.close {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  cursor: pointer;
  padding: 0; }

/* pop start */
.popover {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: none;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  line-height: 1.42857;
  max-width: 276px;
  padding: 1px;
  position: absolute;
  text-align: left;
  top: 0;
  white-space: normal;
  z-index: 1060; }

.popover.top {
  margin-top: -10px; }

.popover.right {
  margin-left: 10px; }

.popover.bottom {
  margin-top: 10px; }

.popover.left {
  margin-left: -10px; }

.popover-title {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
  font-size: 14px;
  margin: 0;
  padding: 8px 14px; }

.popover-content {
  padding: 9px 14px; }

.popover > .arrow, .popover > .arrow:after {
  border-color: transparent;
  border-style: solid;
  display: block;
  height: 0;
  position: absolute;
  width: 0; }

.popover > .arrow {
  border-width: 11px; }

.popover > .arrow:after {
  border-width: 10px;
  content: ""; }

.popover.top > .arrow {
  border-bottom-width: 0;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
  left: 50%;
  margin-left: -11px; }

.popover.top > .arrow:after {
  border-bottom-width: 0;
  border-top-color: #fff;
  bottom: 1px;
  content: " ";
  margin-left: -10px; }

.popover.right > .arrow {
  border-left-width: 0;
  border-right-color: rgba(0, 0, 0, 0.25);
  left: -11px;
  margin-top: -11px;
  top: 50%; }

.popover.right > .arrow:after {
  border-left-width: 0;
  border-right-color: #fff;
  bottom: -10px;
  content: " ";
  left: 1px; }

.popover.bottom > .arrow {
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-top-width: 0;
  left: 50%;
  margin-left: -11px;
  top: -11px; }

.popover.bottom > .arrow:after {
  border-bottom-color: #fff;
  border-top-width: 0;
  content: " ";
  margin-left: -10px;
  top: 1px; }

.popover.left > .arrow {
  border-left-color: rgba(0, 0, 0, 0.25);
  border-right-width: 0;
  margin-top: -11px;
  right: -11px;
  top: 50%; }

.popover.left > .arrow:after {
  border-left-color: #fff;
  border-right-width: 0;
  bottom: -10px;
  content: " ";
  right: 1px; }

/*  pop end*/
.lightBox {
  background: #222 none repeat scroll 0 0;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2147483647; }

.lightBox.in {
  display: block; }

.lightBox-content-out {
  height: 100%;
  position: relative;
  width: 100%; }

.lightBox .lightBox-content {
  left: 50%;
  max-height: 800px;
  max-width: 1600px;
  min-width: 500px;
  position: absolute;
  z-index: 10001; }

.lightBox .img-bg {
  position: absolute;
  left: 50%;
  z-index: 10002;
  background: #fff url(https://www.baochoudai.com/statics/hanz/images/loading.gif) no-repeat center center; }

.lightBox .img-bg.change {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease; }

.lightBox .lightBox-content .theImg {
  max-height: 800px;
  max-width: 1600px; }

.lightBox .tab-btn {
  background: #000 none repeat scroll 0 0;
  border-radius: 100%;
  color: #fff;
  height: 50px;
  line-height: 50px;
  margin: -25px 0 0;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 50px; }

.lightBox .tab-btn i {
  font-size: 40px;
  height: 40px;
  width: 40px; }

.lightBox .tab-btn:hover, .lightBox .close-btn:hover {
  opacity: 0.3; }

.lightBox .left {
  left: 10px; }

.lightBox .right {
  right: 10px; }

.lightBox .close-btn {
  background: #0e6eb8 none repeat scroll 0 0;
  color: #fff;
  font-size: 40px;
  height: 50px;
  line-height: 50px;
  opacity: 0.5;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px; }

.head-mid-tit {
  max-width: 70%;
  word-break: nowrap;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.spinner {
  width: 60px;
  height: 60px;
  position: relative;
  margin: 50px auto 70px; }

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #70a938;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -moz-animation: bounce 2.0s infinite ease-in-out;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out; }

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

.double-bounce-text {
  position: absolute;
  bottom: -36px;
  width: 200px;
  margin: 0 0 0 -70px;
  text-align: center;
  color: #e6e6e6; }

@-moz-keyframes bounce {
  0%, 100% {
    -moz-transform: scale(0); }
  50% {
    -moz-transform: scale(1); } }
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }
@keyframes bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
.switchery {
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  position: relative;
  vertical-align: middle;
  width: 50px; }
  .switchery small {
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    height: 27px;
    position: absolute;
    top: 0;
    width: 27px; }
  .switchery.baseStyle {
    border-color: #dfdfdf;
    box-shadow: #dfdfdf 0px 0px 0px 0px inset;
    transition: border 0.4s, box-shadow 0.4s; }
    .switchery.baseStyle small {
      left: 0px;
      transition: left 0.2s; }
    .switchery.baseStyle.open {
      border-color: #70a938;
      box-shadow: #70a938 0px 0px 0px 16px inset;
      transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;
      background-color: #70a938; }
      .switchery.baseStyle.open small {
        left: 23px; }

.input-item select {
  box-sizing: content-box; }

.load-container {
  background: #3f3f3f;
  width: 150px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -60px 0 0 -75px;
  opacity: 0.8;
  text-align: center;
  filter: alpha(opacity=80);
  min-height: 120px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 1000000000000000; }
  .load-container .loader {
    text-align: center;
    padding: 18px 0 0; }
    .load-container .loader img {
      width: 50px; }
  .load-container .tip-txt {
    color: #fff;
    padding: 0 5px; }

.toast {
  z-index: 1000000000000001;
  position: fixed;
  left: 0%;
  width: 100%;
  top: 50%;
  margin: -15px 0 0;
  text-align: center; }
  .toast .msg {
    padding: 10px 20px 5px;
    color: #fff;
    background: #3f3f3f;
    min-width: 150px;
    max-width: 500px;
    display: inline-block;
    min-height: 32px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    line-height: 1.5;
    border: 1px solid #e6e6e6;
    border-radius: 32px;
    font-size: 18px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); }

.cut-img-box {
  position: relative;
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .cut-img-box .box-img {
    display: inline-block;
    position: relative;
    max-width: 100%;
    line-height: 0; }
  .cut-img-box img {
    max-width: 100%; }

.drag-box {
  position: absolute !important;
  z-index: 5; }
  .drag-box.item-point {
    background: rgba(0, 167, 255, 0.2);
    border: 1px solid #79c2fd;
    text-align: center; }
    .drag-box.item-point .text {
      position: absolute;
      top: 50%;
      margin: 0 0 -20px;
      color: #78a9c7;
      left: 10%;
      width: 80%;
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      overflow: hidden; }
    .drag-box.item-point .pos-top-btn {
      position: absolute;
      top: 50%;
      background: #78a9c7;
      left: 50%;
      z-index: 6;
      margin: -22px 0 0 -26px; }
      .drag-box.item-point .pos-top-btn a {
        color: #fff;
        font-size: 20px;
        padding: 0 3px; }
  .drag-box .drag-bar {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    cursor: move; }
  .drag-box .top {
    width: 100%;
    height: 3px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    cursor: n-resize; }
  .drag-box .right {
    height: 100%;
    width: 3px;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 2;
    cursor: e-resize; }
  .drag-box .bottom {
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    cursor: n-resize; }
  .drag-box .left {
    height: 100%;
    width: 3px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    cursor: e-resize; }

.val-tab {
  display: inline-block;
  border: 1px solid #eee;
  margin: 0 10px; }
  .val-tab .val-btn {
    height: 50px;
    line-height: 48px;
    text-align: center;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    font-size: 38px;
    font-weight: 200;
    color: #888;
    background: #f1f1f1;
    background: -moz-linear-gradient(top, #fff, #f1f1f1);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#f1f1f1));
    background: -o-linear-gradient(top, #fff, #f1f1f1);
    background-image: linear-gradient(#fff, #f1f1f1);
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2); }
    .val-tab .val-btn:hover {
      background: #ededed;
      background: -moz-linear-gradient(top, #fbfbfb, #ededed);
      background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fbfbfb), to(#ededed));
      background: -o-linear-gradient(top, #fbfbfb, #ededed);
      background-image: linear-gradient(#fbfbfb, #ededed); }
  .val-tab .val-sel-box {
    line-height: 50px;
    font-size: 24px;
    text-align: center;
    padding: 5px 10px;
    color: #444;
    min-width: 60px; }

a:hover {
  color: #70a938; }

.top-head {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  padding: 0 15px;
  background: #fff;
  height: 62px;
  overflow: hidden; }
  .top-head .logo {
    float: left; }
    .top-head .logo img {
      width: 225px;
      height: 58px; }
  .top-head .right-box {
    float: right; }
    .top-head .right-box .head-box {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      cursor: pointer;
      vertical-align: middle; }
      .top-head .right-box .head-box .img-head {
        width: 42px;
        height: 42px;
        border-radius: 100%;
        vertical-align: middle; }
    .top-head .right-box .iconfont {
      cursor: pointer;
      font-size: 24px;
      color: #999;
      margin: 0 5px; }

.all-cont-wrap {
  position: absolute;
  top: 62px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: #a3d176;
  /*  position: relative; */ }
  .all-cont-wrap .sider {
    width: 250px;
    overflow-y: auto;
    height: 100%; }
    .all-cont-wrap .sider .sider-btn {
      display: block;
      padding: 22px;
      text-align: center;
      position: relative;
      overflow: hidden;
      -webkit-transition: background-color 0.3s ease;
      transition: background-color 0.3s ease; }
      .all-cont-wrap .sider .sider-btn .line {
        -webkit-transition: top 0.3s ease;
        transition: top 0.3s ease;
        width: 7px;
        height: 100%;
        left: 0;
        position: absolute;
        top: 100%;
        background: #70a938; }
      .all-cont-wrap .sider .sider-btn span {
        display: block; }
        .all-cont-wrap .sider .sider-btn span.bottom-text {
          font-size: 12px !important; }
      .all-cont-wrap .sider .sider-btn:hover, .all-cont-wrap .sider .sider-btn.active {
        background-color: #96cb62;
        color: #fff; }
        .all-cont-wrap .sider .sider-btn:hover .line, .all-cont-wrap .sider .sider-btn.active .line {
          top: 0; }
    .all-cont-wrap .sider .sider-wrap {
      background-color: #fef6ee;
      text-align: center;
      font-size: 14px;
      padding-top: 22px; }
      .all-cont-wrap .sider .sider-wrap div {
        cursor: pointer;
        padding-bottom: 22px; }
      .all-cont-wrap .sider .sider-wrap .sider-item {
        position: relative;
        -webkit-transition: background-color 0.3s ease;
        transition: background-color 0.3s ease; }
        .all-cont-wrap .sider .sider-wrap .sider-item i {
          position: absolute;
          display: inline-block;
          height: 5px;
          width: 5px;
          border-radius: 100%;
          top: 8px;
          left: -13px; }
        .all-cont-wrap .sider .sider-wrap .sider-item.active i {
          background-color: #70a938; }
  .all-cont-wrap .modal .main, .all-cont-wrap .modal .main-in {
    position: relative !important;
    left: 0; }
  .all-cont-wrap .main {
    position: absolute;
    top: 0;
    left: 250px;
    right: 0;
    bottom: 0;
    background: #e9e9e9; }
    .all-cont-wrap .main .main-in {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 58px; }
      .all-cont-wrap .main .main-in .main-top {
        height: 115px;
        position: relative;
        overflow: hidden; }
        .all-cont-wrap .main .main-in .main-top .main-top-tit {
          position: absolute;
          text-align: center;
          color: #fff;
          left: 30px;
          top: 0;
          width: 57px;
          padding: 10px 0 0;
          height: 80px;
          background: url("../../images/tag.png") no-repeat; }
      .all-cont-wrap .main .main-in .main-mid {
        background: #fff;
        position: absolute;
        top: 115px;
        left: 0;
        right: 0;
        bottom: 0; }
        .all-cont-wrap .main .main-in .main-mid .purchase-list-wrap {
          -webkit-transition: right 0.3s ease;
          transition: right 0.3s ease; }
        .all-cont-wrap .main .main-in .main-mid .purchased-wrap {
          -webkit-transition: right 0.3s ease;
          transition: right 0.3s ease; }
        .all-cont-wrap .main .main-in .main-mid.hide .purchase-list-wrap {
          right: 50px; }
        .all-cont-wrap .main .main-in .main-mid.hide .purchased-wrap {
          right: -370px; }
    .all-cont-wrap .main .footer {
      height: 58px;
      background: #e6e6e6;
      text-align: center;
      font-size: 24px;
      color: #70a938;
      line-height: 58px;
      position: absolute;
      top: auto;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%; }

.top-new-wrap {
  margin: 15px 100px 0 200px;
  position: relative; }
  .top-new-wrap .top-new-wrap-in {
    position: relative;
    overflow: hidden;
    height: 75px; }
  .top-new-wrap .top-new-scroll {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2000%;
    left: 0; }
  .top-new-wrap .arrow-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #70a938;
    border-radius: 100%;
    color: #fff;
    line-height: 40px;
    text-align: center;
    top: 50%;
    margin: -20px 0 0;
    opacity: 0.8;
    filter: alpha(opacity=80); }
    .top-new-wrap .arrow-btn.left {
      left: -50px; }
    .top-new-wrap .arrow-btn.right {
      right: -50px; }
    .top-new-wrap .arrow-btn .iconfont {
      font-size: 30px !important; }
  .top-new-wrap .top-new {
    width: 175px;
    height: 72px;
    padding: 2px;
    float: left;
    margin: 0 10px;
    background: #fff; }
    .top-new-wrap .top-new .left-img {
      width: 65px;
      height: 70px;
      display: block;
      float: left; }
      .top-new-wrap .top-new .left-img .img {
        width: 100%;
        height: 100%; }
    .top-new-wrap .top-new .right-info {
      float: left;
      width: 96px;
      margin: 5px 0 0 10px; }
      .top-new-wrap .top-new .right-info .tit {
        font-size: 12px; }
      .top-new-wrap .top-new .right-info .time {
        font-size: 12px;
        color: #999; }

.placeAnOrder-textarea {
  display: block;
  width: 98%;
  padding: 10px 1%;
  margin: 15px 0;
  border: 1px solid #e6e6e6; }

.addr-row-list {
  position: relative;
  margin: 15px  0 0; }
  .addr-row-list .addr-left {
    margin: 0 80px 0 0;
    overflow: hidden;
    font-size: 0;
    height: 122px; }
    .addr-row-list .addr-left .addr-item {
      vertical-align: top;
      width: 250px;
      height: 85px;
      padding: 10px 15px;
      margin: 0 15px 15px 0;
      border: 1px solid #e6e6e6;
      cursor: pointer;
      font-size: 16px;
      display: inline-block;
      *display: inline;
      *zoom: 1; }
      .addr-row-list .addr-left .addr-item:hover .icon-box {
        display: block !important; }
      .addr-row-list .addr-left .addr-item.active {
        border: 1px solid #70a938; }
      .addr-row-list .addr-left .addr-item .addr-up-box {
        zoom: 1;
        margin: 5px 0 0; }
        .addr-row-list .addr-left .addr-item .addr-up-box:after {
          content: ".";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden; }
        .addr-row-list .addr-left .addr-item .addr-up-box .icon-box {
          float: right;
          color: #70a938;
          display: none; }
          .addr-row-list .addr-left .addr-item .addr-up-box .icon-box .iconfont {
            cursor: pointer; }
      .addr-row-list .addr-left .addr-item .addr-tit {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        font-size: 18px !important;
        margin: 0 5px 0 0; }
      .addr-row-list .addr-left .addr-item .addr-phone {
        display: inline-block;
        *display: inline;
        *zoom: 1; }
      .addr-row-list .addr-left .addr-item .addr-bottom-box {
        font-size: 14px !important;
        color: #999;
        margin: 5px 0 0;
        word-break: break-all;
        white-space: pre-wrap; }
  .addr-row-list .addr-btn {
    float: right;
    text-align: center;
    width: 120px;
    padding: 10px 0 0; }
    .addr-row-list .addr-btn .iconfont {
      font-size: 40px;
      border: 2px solid #e6e6e6;
      border-radius: 100%;
      cursor: pointer;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      width: 42px;
      height: 42px;
      line-height: 50px;
      color: #e6e6e6; }

.placeAnOrder-item {
  border: 1px solid #e6e6e6;
  overflow: hidden; }
  .placeAnOrder-item .block-l {
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    margin: 0 0 -1px -1px; }
  .placeAnOrder-item .item-left-block {
    height: 75px;
    padding: 10px; }
    .placeAnOrder-item .item-left-block .left-img {
      width: 68px;
      height: 75px;
      display: block;
      margin: 0 10px 0 0; }
      .placeAnOrder-item .item-left-block .left-img .img {
        width: 100%;
        height: 100%; }
    .placeAnOrder-item .item-left-block .right-info {
      margin: -75px 0 0 85px; }
      .placeAnOrder-item .item-left-block .right-info .tit {
        font-size: 16px !important; }
      .placeAnOrder-item .item-left-block .right-info .info-des {
        word-break: nowrap;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #999;
        margin: 0px 0 8px; }

.PlaceAnOrderBox {
  border: 2px solid #70a938;
  height: 50px; }
  .PlaceAnOrderBox .box-left {
    margin: 0px 200px 0 0; }
  .PlaceAnOrderBox .right-btn {
    height: 50px;
    width: 200px;
    padding: 0;
    line-height: 50px;
    border-radius: 0; }

.msg-list-box {
  margin: -15px -15px 0;
  cursor: pointer; }
  .msg-list-box .msg-item {
    height: 55px;
    padding: 10px 15px;
    border-bottom: 1px solid #eee; }
    .msg-list-box .msg-item:hover {
      background: #f3f3f3; }
    .msg-list-box .msg-item .icon-left {
      font-size: 36px;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      border: 2px solid #70a938;
      border-radius: 100%;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      color: #70a938;
      vertical-align: middle; }
      .msg-list-box .msg-item .icon-left.readed {
        color: #999;
        border: 2px solid #999; }
    .msg-list-box .msg-item .msg-right {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: middle;
      padding: 0 5px 0 15px;
      width: 450px; }
      .msg-list-box .msg-item .msg-right .bottom-txt {
        word-break: nowrap;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
    .msg-list-box .msg-item .icon-right-bar {
      font-size: 30px;
      color: #999;
      vertical-align: middle; }

@media (max-width: 1600px) {
  .all-cont-wrap .sider {
    width: 120px; }
  .all-cont-wrap .main {
    position: absolute;
    top: 0;
    left: 120px;
    right: 0;
    bottom: 0; }
    .all-cont-wrap .main .main-in {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .all-cont-wrap .main .footer {
      display: none; } }
.head-sel-box .turn-sel {
  cursor: pointer; }
  .head-sel-box .turn-sel.active {
    color: #70a938;
    border-bottom: 2px solid #70a938; }
  .head-sel-box .turn-sel.bgactive {
    color: #fff;
    background: #70a938; }

/*# sourceMappingURL=fruit_purchase_style.css.map */
