@charset "UTF-8";

@import "../common/config";
.purchase-list-wrap{
    @include absoluteWH(right,420px);
}
.purchased-wrap{
    width: 420px;
    .purchased-tit{
        color:#fff;
        height: 40px;
        background:$contraryColor;
        line-height: 40px;
        padding:0 10px;
    }
    border:1px solid #eee;
    @include absoluteWH(left,auto);
    .purchased-list{
        position:absolute;
        top:40px;
        bottom:98px;
        left: 0;
        right: 0;
        overflow-y: auto;
        padding: 0 10px;
        .purchased-item{

        }
    }
    .purchased-footer{
        height: 97px;
        background:$fuzzyColor;
        @include absoluteWH(top,auto);
        .purchased-footer-bottom{
            .purchased-btn{
               /*  float:left;
                width:50%; */
                display: block;
                border-radius:0;
                margin:0 -1px;
                padding: 0;
                height: 35px;
                line-height: 35px;
                font-size: 18px;
                &.base-line-btn{
                    border:1px solid $baseColor;
                    color:$baseColor;
                    background:#fff;
                }
            }
        }
    }
}
.purchased-item{
    @include clearfix;
    padding:10px 0;
    height: 100px;
    overflow: hidden;
    border-bottom:1px solid $fuzzyColor;
    .left-img{
        width: 95px;
        height: 100px;
        float: left;
        .img{
            width: 100%;
            height: 100%;
        }
    }
    .right-info{
        width: 270px;
        float:left;
        margin:0 0 0 10px;
        .select-li{
            padding: 0 !important;
            margin: 0 0 6px;
            .select-box{
                font-size: 11px;
                border: 1px solid #eee;
                background: none;
                height: 20px;
                line-height: 20px;
            }
        }
        .tit{
            line-height: 1;
            padding: 0 0 8px;
        }
        .info-ul{
            li{
                height: 15px;
                padding: 3px 0;
                line-height: 1;
                .none-sel{
                    text-decoration:line-through;
                }
            }
        }
        .block-left{
            float:left;
            width: 145px;
        }
        .block-right{
            width: 125px;
            float:left;
        }
    }
}
.turn-num{
    .turn-btn{
        @include inline-block;
        width: 16px;
        height:16px;
        border:1px solid $baseColor;
        color:$baseColor;
        line-height: 15px;
        font-size: 15px;
        text-align: center;
        border-radius:100%;
        vertical-align: middle;
    }
    .turn-txt{
        @include inline-block;
        width: 50px;
        text-align: center;
        border: 0;
        background: none;
        height: 15px;
        line-height: 15px;
        margin: 0 1px;
        vertical-align: middle;
        font-size: 12px;
        border-bottom:1px solid $fuzzyColor;
    }
}

.filter_1{
    margin:10px 20px 10px;
    font-size: 12px;
    .bg{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: #000;
        display: none;
        &.show{
          display: block;
        }
        opacity: 0.2;
        filter: alpha(opacity=20);
    }
    & ul{
        & li{
            cursor: pointer;
            padding:0 10px;
            float: left;
            line-height:22px;
            margin:10px 0 10px 12px;
            text-align: center;
            min-width: 28px;
            &.w-li{
              width: 70px;
              word-break: nowrap;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
            input{
              width:50px;
            }
        }
    
  }
}
.filter_bk{ 
  border: 1px solid #d80413;
  height: 30px;
  text-align: center;
  min-width: 100px;
  color:  #d80413;
  
  i{
    cursor: pointer;
    padding-left:7px;
  }
}
.filter_bj{

    color:  #fff;
    background: $baseColor;
}
.filter-row{
    border-bottom:1px dashed #eee;
    position: relative;
    height:38px;
    margin: 0 0 -1px;
    .filter_title{
        margin:10px 0 0 10px;
        float:left;
    }
    .more-btn{
        float: right;
        padding:5px 0 0 25px;
        line-height: 1;
    .more-btn-text{
        vertical-align:middle;
    }
    .more-icon{
        font-size: 30px;
        padding:0 20px 0 0;
        vertical-align:middle;
    }
}
.filter-ul-wrap{
    float: right;
    .search-input{
      display: none;
      margin:30px 30px 10px;
    }
    border: none;
    overflow: hidden;
    padding: 0 15px;
    height: 36px;
    position: absolute;
    left: 50px;
    right: 80px;
    &.pos{
        .search-input{
            display: block;
        }
        .filter-ul{
            padding:15px 0 0;
        }
        position: absolute;
        top: -1px;
        height:auto;
        right: 108px;
        background: #fff;
        padding: 0 15px 15px;
        z-index: 5;
        border: 1px solid #eee;
        box-shadow: 0 0 35px rgba(0,0,0,0.3);
    }
  }
}
.all-cont{
    .main-cont{
        width: 915px;
        margin: 0 25px 0 0;
    }
    .sider-cont{
        width: 260px;
        .sider-tit{
            height: 40px;
            line-height:40px;
            text-align: center;
            color:#fff;
            background:$contraryColor;
        }
        .fruit-item-list{
            border:1px solid $fuzzyColor;
            border-top:0;
        }
        .fruit-item{
            border:none;
            .left-img{
                margin:0 0 0 11px;
                img{
                    width:115px;
                }
            }
            .fruit-info{
                width: 115px;
                margin:0 0 0 11px;
                .tit{
                    margin:0 0 5px;
                    @include lh(1);
                    .tit-a{
                        font-size: 14px;
                    }
                }
                .fruit-des{
                    font-size: 12px;
                    height: 100px;
                    overflow:hidden;
                }
            }
        }
    }
}

.purchase-list-box{
    @include absoluteWH(top,140px);
    overflow-y: auto;
    .purchase-item{
        margin: 0 22px;
        padding: 8px 0;
        border-bottom: 1px dashed $fuzzyColor;
        @include clearfix;
        .left-img{
            display: block;
            width: 80px;
            height: 88px;
            .img{
                width: 100%;
                height: 100%;
            }
        }
         .tit{
            line-height: 1;
            margin:0 0 3px;
                .tit-a{
                    font-size:15px;
                    vertical-align: middle;
                }
                .tag{
                    padding:2px 10px;
                    @include inline-block;
                    @include br(15);
                    @include fs(10);
                    vertical-align: middle;
                    margin: 0 0 0 5px;
                    background:$contraryColor;
                    color:#fff;

                }
            }
        .fruit-info{
            margin:-82px 0 0 90px;
        }
        .fruit-cont-box-wrap{
            @include clearfix;
            .box1{
                width: 33%;
                .fruit-des{
                    @include text-overflow;
                    font-size: 12px;
                    color:$desaltColor;
                }
                .info-bottom{
                    margin:10px 0 0;
                    .bottom-info-row{
                        font-size: 12px;
                        color:$desaltColor;
                   
                    }
                }
            }
            .box2{
                width:35%;
                padding:0 0 0 5%;
                font-size: 12px;
                .box-row{
                    padding:0 0 4.5px;
                }
            }
        }
    }
}
.sort-a{
    font-size: 12px;
    padding:0 5px;
    &.active{
        color:$baseColor;
    }
    .iconfont{
        font-size: 22px;
        vertical-align: middle;
    }
}
@media(max-width:1250px){
    .filter_1{
        & ul{
            & li{
                &.w-li{
                    width: 70px;
                }
            }
        }
     }
   
    .fruit-cont-box-wrap{
        .box1{
            width: 45% !important;
        }
        .box2{
            width: 50% !important;
        }
        .box3{
            float: none !important;
            clear:both;
            padding:8px 0 0;

            @include text-align(left);
            .top-text{
                @include inline-block;
            }
            .go-btn{
                font-size: 12px !important;
                margin: 0 0 0 10px;
            }
        }
    }
}