.card-wrap {
  padding-top: 20px; }
  .card-wrap .card-box {
    height: 200px;
    width: 320px;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    box-shadow: 0 3px 7px #e6e6e6;
    float: left;
    background-color: #fafafa;
    margin-right: 30px;
    margin-bottom: 30px; }
    .card-wrap .card-box .card-box-top {
      padding: 20px 15px;
      border-bottom: 1px solid #cccccc; }
    .card-wrap .card-box .card-box-mid {
      background-color: #e6e6e6; }
    .card-wrap .card-box .icon-icon {
      color: #de1f1f; }

.file-item {
  display: inline-block;
  text-align: center;
  position: relative; }
  .file-item.comp .iconfont {
    display: none; }
  .file-item.comp .success-box {
    height: 80px;
    display: block !important;
    z-index: 100; }
    .file-item.comp .success-box .iconfont {
      display: inline-block;
      color: #fff;
      font-size: 22px;
      margin: 0 3px;
      cursor: pointer; }
  .file-item .item-in {
    width: 80px;
    height: 80px;
    line-height: 75px;
    position: relative;
    overflow: hidden; }
    .file-item .item-in .webuploader-container, .file-item .item-in .webuploader-pick {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      filter: alpha(opacity=0); }
    .file-item .item-in .img-show {
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0; }
      .file-item .item-in .img-show img {
        width: 80px;
        height: 80px; }
    .file-item .item-in .success-box {
      display: none; }
    .file-item .item-in .iconfont {
      font-size: 40px;
      color: #eee;
      position: relative;
      z-index: 15;
      cursor: pointer; }
    .file-item .item-in .item-bg {
      background: #000;
      position: absolute;
      width: 80px;
      height: 80px;
      top: 80px;
      left: 0;
      opacity: 0.3;
      z-index: 2;
      filter: alpha(opacity=30); }
  .file-item .file-name {
    cursor: pointer;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    font-size: 12px;
    z-index: 100; }

.form-wrap {
  padding-top: 30px; }
  .form-wrap .tit {
    float: left;
    width: 100px; }
  .form-wrap .cont {
    float: left;
    position: relative; }
    .form-wrap .cont input {
      padding: 3px 10px;
      font-size: 14px;
      border-radius: 2px;
      border: 1px solid #999; }
    .form-wrap .cont img {
      width: 80px;
      height: 80px;
      border: 1px solid #e6e6e6; }
    .form-wrap .cont .img-tit {
      width: 100%;
      position: absolute;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.6);
      color: #fff;
      text-align: center;
      font-size: 12px; }
    .form-wrap .cont textarea {
      border: 1px solid #999;
      padding: 3px 10px;
      font-size: 14px; }
  .form-wrap .cont-r {
    padding-left: 100px; }

.box-in {
  border-top: 1px solid #e6e6e6;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 20px 20px 0;
  overflow-y: auto; }

.safe-row {
  padding: 30px 0;
  overflow: hidden;
  height: 48px;
  border-bottom: 1px dashed #e6e6e6; }
  .safe-row .safe-tit {
    width: 250px;
    text-align: center;
    border-right: 1px solid #e6e6e6;
    height: 48px; }
  .safe-row .safe-des {
    overflow: hidden;
    margin: -50px 160px 0 250px; }
  .safe-row .safe-edit {
    width: 160px;
    float: right;
    text-align: center; }

.red-color {
  color: #ce543d; }

.profile-bg {
  background-color: #f2f2f2; }

.profile-card {
  margin-top: 40px;
  border: 1px solid #e6e6e6; }
  .profile-card .top {
    padding: 25px 30px;
    background-color: #f2f2f2;
    height: 100px; }
  .profile-card .profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px; }
  .profile-card .profile-data {
    text-align: left; }
    .profile-card .profile-data .tit {
      font-weight: 600;
      font-size: 25px;
      padding-top: 20px;
      padding-bottom: 10px; }
    .profile-card .profile-data .profile-data-l {
      float: left; }
    .profile-card .profile-data .profile-data-r {
      line-height: 100px;
      float: right;
      color: #999; }
      .profile-card .profile-data .profile-data-r i {
        font-size: 30px;
        color: #000;
        font-weight: 600;
        padding: 0 5px; }
    .profile-card .profile-data .profile-data-address {
      color: #999;
      margin: 0 50px; }
  .profile-card .profile-btn {
    float: right;
    margin-top: 10px; }
    .profile-card .profile-btn div {
      cursor: pointer;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #70a938;
      padding: 7px 40px;
      color: #70a938;
      transition: all .2s ease-out; }
      .profile-card .profile-btn div:hover {
        color: #fff;
        background-color: #70a938; }
  .profile-card .bottom-item {
    margin: 22px 0;
    border-left: 1px solid #e6e6e6;
    width: 220px;
    text-align: center;
    display: block; }
    .profile-card .bottom-item:nth-child(1) {
      border-left: none; }

.profile-order {
  margin-top: 30px; }
  .profile-order .my-order-tit {
    padding: 15px 30px;
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6; }

.my-order-item {
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-top: none;
  padding: 15px 20px;
  height: 73px;
  margin-top: 0px; }
  .my-order-item img {
    width: 73px;
    height: 73px;
    margin-right: 5px; }
  .my-order-item .w160 {
    width: 165px; }
  .my-order-item .item {
    line-height: 73px;
    text-align: center; }

.reservation-item {
  border-bottom: 1px solid #e6e6e6;
  border-top: none;
  padding: 15px 20px;
  height: 73px;
  margin-top: 0px; }
  .reservation-item img {
    width: 73px;
    height: 73px;
    margin-right: 5px; }
  .reservation-item .cont-box {
    overflow: hidden;
    margin: -73px 0 0 90px; }
  .reservation-item .item {
    line-height: 73px;
    text-align: center; }

@media (max-width: 1350px) {
  .member-cont-in {
    margin: 0 20px !important; }

  .profile-card .bottom-item {
    width: 200px; }

  .my-order-item .w160 {
    width: 130px !important;
    font-size: 12px; } }
@media (max-width: 1280px) {
  .profile-card .bottom-item {
    width: 170px; }

  .my-order-item .w160 {
    width: 120px !important;
    font-size: 12px; }
    .my-order-item .w160 .btn {
      font-size: 12px !important; } }
@media (max-width: 1080px) {
  .profile-card .bottom-item {
    width: 150px; }

  .my-order-item .w160 {
    width: 100px !important;
    font-size: 12px; }
    .my-order-item .w160 .btn {
      font-size: 12px !important; } }
@media screen and (max-width: 1370px) {
  .detail-order-top .top-left {
    width: 10%; }
  .detail-order-top .top-right {
    width: 70%; }
    .detail-order-top .top-right .top-status-item {
      width: 20%; } }
.red-color {
  color: #ce543d; }

.detail-order-top {
  margin-top: 20px;
  border-top: 2px solid #999999;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  box-shadow: 0 3px 8px #999999; }
  .detail-order-top .top-left {
    border-right: 1px solid #e6e6e6;
    padding: 30px 40px 50px;
    width: 15%; }
    .detail-order-top .top-left .top-status {
      color: #ce543d;
      font-size: 25px;
      font-weight: 600;
      padding: 30px 0 0; }
    .detail-order-top .top-left .top-btn {
      cursor: pointer;
      font-style: 14px;
      border: 1px solid #ce543d;
      border-radius: 2px;
      margin-top: 20px;
      padding: 3px 20px;
      display: inline-block;
      transition: all .2s ease-out;
      color: #fff;
      background-color: #ce543d; }
  .detail-order-top .top-right {
    padding: 30px 30px 0 30px; }
    .detail-order-top .top-right .top-status {
      padding: 40px 0; }
      .detail-order-top .top-right .top-status .top-status-item {
        position: relative;
        width: 170px; }
        .detail-order-top .top-right .top-status .top-status-item .line {
          position: absolute;
          top: 0;
          left: 64%; }
        .detail-order-top .top-right .top-status .top-status-item .line-active {
          position: absolute;
          top: -24px;
          left: 64%; }

.detail-order-middle {
  height: 100px; }
  .detail-order-middle .middle-left {
    padding: 20px 20px 40px;
    background-color: #e6e6e6;
    width: 20%; }
    .detail-order-middle .middle-left .money {
      font-weight: 600; }
  .detail-order-middle .middle-right {
    padding: 20px 20px;
    width: 30%; }

.detail-order-btm {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6; }

.detail-order-btm-gb {
  background-color: #e6e6e6;
  padding: 10px 10px; }

/*# sourceMappingURL=account.css.map */
