
@function imagesUrl($filename) {	
  	@return "../../images/"+$filename;
}

@mixin gradient($start,$end) {
  	// filter:alpha(opacity=100, finishopacity=50, style=1, startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=$start,endcolorstr=$end,gradientType=0);
   // 	-ms-filter:alpha(opacity=100, finishopacity=50 ,style=1, startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=$start,endcolorstr=$end,gradientType=0);
	background:$end; 
	background:-moz-linear-gradient(top, $start,$end);  
	background:-webkit-gradient(linear, 0 0, 0 bottom, from($start), to($end));  
	background:-o-linear-gradient(top, $start,$end); 
	background-image: linear-gradient($start,$end);
}

@mixin userSelect {

	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

@mixin clearfix {
	zoom:1;
	&:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
}
@mixin pointer{
	cursor: pointer;
}
@mixin none{
	display: none;
}
@mixin fb{
	font-weight:bold;
}
@mixin fn{
	font-weight:normal;
}
@mixin opac($num){
	opacity:#{$num/100};
	filter:alpha(opacity=#{$num});
}
@mixin no-unl{
	text-decoration:none;
}
@mixin word-break{
	word-break:break-all;
    word-wrap:break-word;
}
@mixin oh{
	overflow:hidden;
}
@mixin fn{
	font-weight:normal;
}
@mixin text-align($val){
	text-align:$val !important;
    text-align-last:$val;
    @if $val == justify {
      text-justify:inter-ideograph;
    }
}

@mixin mAuto{
	margin-left:auto;
  	margin-right: auto;
}
@mixin inline-block{
	display: inline-block;
  	*display:inline;
  	*zoom:1;
}
@mixin m($val,$arrow:fasle){
	@if $arrow{
		margin-#{$arrow}: #{$val}px;
     
    } @else {
    	 margin:#{$val}px;
    }
}
@mixin p($val,$arrow:fasle){
	@if $arrow!= fasle{
		padding-#{$arrow}: #{$val}px;
    } @else {
    	padding:#{$val}px;
    }
}

@mixin br($val){
	border-radius:#{$val}px !important; 
}
@mixin fs($val){
	font-size:#{$val}px !important;
}

@mixin w($val){
	width:#{$val}px;
}
@mixin wb($val){
	width:#{$val+'%'};
}
@mixin h($val){
	height:#{$val}px;
}

@mixin lh($val){
	line-height:#{$val};
}
@mixin min-h($val){
	 min-height:#{$val}px;
}
@mixin absoluteWH($name,$val){
	$position: (top:0, left:0, right:0,bottom:0);
	position:absolute;
	@each $k, $v in $position {
	  @if $name==$k{
		#{$k}:#{$val};
	  } @else {
	  	#{$k}:#{$v};
	  } 
	}
}
@mixin text-overflow{
	word-break: nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}