@charset "UTF-8";
@import "config";
.bd-lft {
    zoom: 1;
    overflow: hidden;
    .bd-lft-aside {
        float: left;
        margin-left: -100%;
        position: relative;
    }
    .bd-lft-main {
        float: left;
        width: 100%;
    }
}

.text-overflow{
    word-break: nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
$baseMargin:20px;
$bd-lft-list: 50,
200;
@each $item in $bd-lft-list {
    .bd-lft.lw#{$item} {
        padding-left: $item + $baseMargin;
    }
    .bd-lft.lw#{$item} .bd-lft-aside {
        width: #{$item}px;
        left: -$item - $baseMargin;
    }
}

.border-radius {
    border-radius: 3px;
}

.border-radius100 {
    border-radius: 100%;
}

$border-list:1,
2,
3,
4;
@each $item in $border-list {
    .uba#{$item} {
        border:#{$item}px solid;
    }
    .ubt#{$item} {
        border-top:#{$item}px solid;
    }
    .ubb#{$item} {
        border-bottom:#{$item}px solid;
    }
    .ubl#{$item} {
        border-left:#{$item}px solid;
    }
    .ubr#{$item} {
        border-right:#{$item}px solid;
    }

    .ubda#{$item} {
        border:#{$item}px dashed;
    }
    .ubdt#{$item} {
        border-top:#{$item}px dashed;
    }
    .ubdb#{$item} {
        border-bottom:#{$item}px dashed;
    }
    .ubdl#{$item} {
        border-left:#{$item}px dashed;
    }
    .ubdr#{$item} {
        border-right:#{$item}px dashed;
    }
}

.bg-none {
    background: none !important;
}

.bn {
    border: none !important;
}

.gray {
    color: #999;
}

.black{
    color: #000;
}
.orange-bg {
    background-color: $colorOrange;
}
.base-border{
    border-color:$baseColor;
}
.fuzzy-border {
    border-color: $fuzzyColor;
}
.fuzzy-light-border {
    border-color:lighten($fuzzyColor,6%);
}
.desalt-border {
    border-color: $desaltColor;
}

.warn-border {
    border-color: $colorOrange;
}

.fuzzy-color {
    color: $fuzzyColor;
}

.desalt-dark-color {
    color:darken($desaltColor,20%);
}
.desalt-light-color {
    color:lighten($desaltColor,20%);
}
.desalt-color {
    color: $desaltColor;
}
.desalt-color2 {
  color: #aaa; }

.base-color {
    color: $baseColor;
}

.blue-color{
    color: $blueColor;
}

.warn-color {
    color: $colorOrange;
}
.white-border{
    border-color:$whiteColor;
}
.base-light-border{
    border-color:lighten($baseColor,20%)
}
.contrary-border{
    border-color:$contraryColor;
}
.contrary-color{
    color:$contraryColor;
}
.contrary-light-bg {
    background-color:lighten($contraryColor, 34%);
}
.contrary-bg{
    background-color:$contraryColor;
}
.white-color {
    color: #fff;
}
.gray-border {
    border-color: $colorGray;
}
.gray-darken-border {
    border-color:darken($colorGray,70%);
}

.gray-bg {
    background-color: $colorGray;
}

.white-bg {
    background-color: #fff;
}

.base-bg {
    background-color: $baseColor;
}
.assist-bg {
    background-color: $assistColor;
}
.assist-color {
    color: $assistColor;
}
.assist2-color{
    color: $assistColor2;
}
.base-light-bg {
    background-color: lighten($baseColor, 40%);
}
.fuzzy-light-bg {
    background-color: lighten($fuzzyColor, 5%);
}
.relative-bg {
    background-color: $relativeColor;
}

.relative-dark-bg {
    background-color: darken($relativeColor, 15%);
}

.warn-bg {
    background-color: $colorOrange;
}
.warn-light-bg {
    background-color:lighten( $colorOrange, 30%);
}

.btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 0.4em 1.6em;
    border-radius: 0.2em;
    
    cursor: pointer;
    transition: background 0.5s, color 0.5s;
    text-align: center;
    // background: lighten($fuzzyColor, 5%);
    border: 1px solid lighten($fuzzyColor, 5%);
}

.base-btn {
    background: $baseColor;
    border: 1px solid $baseColor;
    color: $whiteColor;
    &:hover {
        background: darken($baseColor, 10%);
        color: $whiteColor;
    }
}

.assist-btn {
    background:$assistColor;
    border: 1px solid $assistColor;
    color: $whiteColor;
    &:hover {
        background: darken($assistColor, 10%);
        color: $whiteColor;
    }
    &.disabled{
        opacity:0.7;
        filter: alpha(opacity=70);
    }
}
.base-border-btn {
    border: 1px solid $baseColor;
    color: $baseColor;
    &:hover {
        background: $baseColor;
        color: $whiteColor;
    }
}

.tab-head {
    padding: 0 1px;
    background: lighten($fuzzyColor,7%);
    border: 1px solid $fuzzyColor;
    border-bottom: none;
        &.tab-w2 {
            .tab-btn { width: 50%;}
        }
        &.tab-w3 {
            .tab-btn { width: 33.33%;}
        }
        &.tab-w5 {
            .tab-btn { width: 20%;}
        }
        
        &.tab-w4 {
            .tab-btn { width: 25%;}
        }
    .tab-btn {
        padding: 10px 0;
        float: left;
        cursor: pointer;
        &.active {
            background: #fff;
            margin: 0 -1px;
            border-left: 1px solid $fuzzyColor;
            border-right: 1px solid $fuzzyColor;
            border-top: 2px solid $baseColor;
        }
        
    }
}

.tab-box {
    display: none;
    &.active {
        display: block;
    }
}

.slider-row {
    .slide-head {
        &.open {
            background: lighten($baseColor, 32%);
        }
        .slide-icon {
            width: 50px;
            height: 50px;
            line-height: 45px;
            display: block;
            text-align: center;
        }
    }
    .slide-cont {
        display: none;
        &.open {
            display: block;
        }
    }
}

.page {
    .page-idx {
        border: 1px solid $fuzzyColor;
        width: 40px;
        height: 40px;
        color: $desaltColor;
        text-align: center;
        line-height: 40px;
        padding: 4px 10px;
        background:#fff;
        &:active,
        &.active,
        &:hover {
            background: $baseColor;
            color: #fff;
            border: 1px solid $fuzzyColor;
        }
    }
    .page-input {
        height: 29px;
        line-height: 29px;
    }
}

.date-wrap-box {
    overflow: hidden;
    width:100.15%;
    margin: 0 0 -1px;
    .item-span {
       
        border-right: 1px solid $fuzzyColor;
        border-bottom: 1px solid $fuzzyColor;
        float: left;
        font-size: 15px;
        width: 14.28%;
        height: 60px;
        line-height: 60px;
        text-align: center;
        position: relative;
        box-sizing: border-box;
        &.head-span {
            background:$fuzzyColor;
            border-right: 1px solid $fuzzyColor;
            border-bottom: 1px solid $fuzzyColor;
        }
        i {
            position: absolute;
            right: 5px;
            top: 5px;
            line-height: 14px;
            height: 14px;
            width: 14px;
            background-color: green;
            color: #fff;
            border-radius: 100%;
            font-size: 8px;
        }
        &.today {
            color: red;
            border: 1px solid red;
        }
        &.remoney:hover {
            box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
        }
        &.remoney {
            color: green;
            border: 1px solid green;
            cursor: pointer;
        }
    }
}

.calButtons input,
.calControl input,
.calControl select {
    vertical-align: middle;
    cursor: pointer;
    width: 70px;
    height: 30px;
    border: 1px solid #eee;
    background-color: #fff;
}

.calButtons input:hover,
.calControl input:hover {
    border: 1px solid #E5322C;
    color: #E5322C;
}




.modal-open {
    overflow: hidden;
}
.modal {
    bottom: 0;
    display: none;
    left: 0;
    outline: 0 none;
    overflow-x: hidden;
  overflow-y:auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1040;
     text-align: center;
}
.modal.fade .modal-dialog {
    transform: translate(0px, -25%);
    transition: transform 0.3s ease-out 0s;
}
.modal.in .modal-dialog {
    transform: translate(0px, 0px);
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-dialog {
    margin: 10px;
    position: relative;
    width: auto;
      display: inline-block;
   min-width: 600px;
    max-width: 1000px;
    text-align: left;
    vertical-align: middle;
}
.modal-dialog.sm{
  max-width: 400px;
 
}
.modal-dialog.md{
  max-width: 900px;
}
.modal-dialog.hide{
  display: none;
}
.modal-content {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);

   
    outline: 0 none;
    position: relative;
}
.modal-backdrop {
    background-color: #000;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}
.modal-backdrop.in {
    opacity: 0.75;
    filter: alpha(opacity=75);
}
.modal-header {

    min-height: 16.43px;
  
    padding: 15px;
    position: relative;
}
.modal-header:after {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    bottom: 0;
    content: "";
    height: 1px;
    left: 15px;
    position: absolute;
    right: 15px;
}
.modal-header .close {
    margin-top: -2px;
}
.modal-title {
    line-height: 1.42857;
    margin: 0;
        font-size: 18px;
    font-weight: 300;
}
.modal-body {
    padding: 15px;
    position: relative;
     min-height: 90px;
}
.modal-footer {
    border-top: 1px solid #e5e5e5;

    text-align: right;
      background-color: rgba(0, 0, 0, 0.024);
    border-color: rgba(0, 0, 0, 0.04);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #5c7174;
    padding: 10px 15px;
}
.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}
.modal-scrollbar-measure {
    height: 50px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
    width: 50px;
}



.modal:before {
    content: "";
    display: inline-block;
    height: 100%;
    margin-left: -1em;
    vertical-align: middle;
    width: 0;
}
.modal.fade:not(.animated) .modal-dialog {
    opacity: 0;
    transform: translateY(-150%);
    transition: all 0.5s linear 0.5s;
}
.modal.fade.in:not(.animated) .modal-dialog {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.5s ease 0s;
}
.bootbox.modal.in:not(.fade) {
    opacity: 1;
    transition: opacity 0s ease 0s, all 0.5s ease 0s;
}
.bootbox.modal:not(.fade) {
    opacity: 0;
    transition: opacity 0.5s linear 0.5s;
}

.modal-dialog.animated {
    animation-duration: 1.2s;
}

.modal-body .close, .modal-header .close {
    background-color: transparent !important;
    left: auto;
    position: absolute;
    right: 10px;
    top: 15px;
}

.close {
    color: #000;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    opacity: 0.2;
    text-shadow: 0 1px 0 #fff;
}
.close:hover, .close:focus {
    color: #000;
    cursor: pointer;
    opacity: 0.5;
    text-decoration: none;
}
button.close {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    padding: 0;
}



/* pop start */
.popover {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    line-height: 1.42857;
    max-width: 276px;
    padding: 1px;
    position: absolute;
    text-align: left;
    top: 0;
    white-space: normal;
    z-index: 1060;
}
.popover.top {
    margin-top: -10px;
}
.popover.right {
    margin-left: 10px;
}
.popover.bottom {
    margin-top: 10px;
}
.popover.left {
    margin-left: -10px;
}
.popover-title {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    margin: 0;
    padding: 8px 14px;
}
.popover-content {
    padding: 9px 14px;
}
.popover > .arrow, .popover > .arrow:after {
    border-color: transparent;
    border-style: solid;
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}
.popover > .arrow {
    border-width: 11px;
}
.popover > .arrow:after {
    border-width: 10px;
    content: "";
}
.popover.top > .arrow {
    border-bottom-width: 0;
    border-top-color: rgba(0, 0, 0, 0.25);
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
}
.popover.top > .arrow:after {
    border-bottom-width: 0;
    border-top-color: #fff;
    bottom: 1px;
    content: " ";
    margin-left: -10px;
}
.popover.right > .arrow {
    border-left-width: 0;
    border-right-color: rgba(0, 0, 0, 0.25);
    left: -11px;
    margin-top: -11px;
    top: 50%;
}
.popover.right > .arrow:after {
    border-left-width: 0;
    border-right-color: #fff;
    bottom: -10px;
    content: " ";
    left: 1px;
}
.popover.bottom > .arrow {
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-top-width: 0;
    left: 50%;
    margin-left: -11px;
    top: -11px;
}
.popover.bottom > .arrow:after {
    border-bottom-color: #fff;
    border-top-width: 0;
    content: " ";
    margin-left: -10px;
    top: 1px;
}
.popover.left > .arrow {
    border-left-color: rgba(0, 0, 0, 0.25);
    border-right-width: 0;
    margin-top: -11px;
    right: -11px;
    top: 50%;
}
.popover.left > .arrow:after {
    border-left-color: #fff;
    border-right-width: 0;
    bottom: -10px;
    content: " ";
    right: 1px;
}

/*  pop end*/


.lightBox {
    background: #222 none repeat scroll 0 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2147483647;
}
.lightBox.in {
    display: block;
}
.lightBox-content-out {
    height: 100%;
    position: relative;
    width: 100%;
}
.lightBox .lightBox-content {
    left: 50%;
    max-height: 800px;
    max-width: 1600px;
    min-width: 500px;
    position: absolute;
    z-index: 10001;
}
.lightBox .img-bg{
  position: absolute;
  left:50%;

  z-index: 10002;
  background: #fff url(https://www.baochoudai.com/statics/hanz/images/loading.gif) no-repeat center center;
}
.lightBox .img-bg.change{
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
}
.lightBox .lightBox-content .theImg {
    max-height: 800px;
    max-width: 1600px;
    
}
.lightBox .tab-btn {
    background: #000 none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    height: 50px;
    line-height: 50px;
    margin: -25px 0 0;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50px;
}
.lightBox .tab-btn i {
    font-size: 40px;
    height: 40px;
    width: 40px;
}
.lightBox .tab-btn:hover, .lightBox .close-btn:hover {
    opacity: 0.3;
}
.lightBox .left {
    left: 10px;
}
.lightBox .right {
    right: 10px;
}
.lightBox .close-btn {
    background: #0e6eb8 none repeat scroll 0 0;
    color: #fff;
    font-size: 40px;
    height: 50px;
    line-height: 50px;
    opacity: 0.5;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}

.head-mid-tit{
    max-width: 70%;
    word-break: nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.spinner {
  width: 60px;
  height: 60px;

  position: relative;
  margin: 50px auto 70px;
}
 
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color:$baseColor;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -moz-animation: bounce 2.0s infinite ease-in-out;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}
 
.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.double-bounce-text{
    position: absolute;
    bottom: -36px;
    width: 200px;
    margin: 0 0 0 -70px;
    text-align: center;
    color: $fuzzyColor;
}
@-moz-keyframes bounce {
  0%, 100% { -moz-transform: scale(0.0) }
  50% { -moz-transform: scale(1.0) }
}
@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
 
@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.switchery {
    box-sizing:border-box;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    position: relative;
    vertical-align: middle;
    width: 50px;
    small {
      background: #fff;
      border-radius: 100%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
      height: 27px;
      position: absolute;
      top: 0;
      width: 27px;
    }
    &.baseStyle{
        border-color:rgb(223, 223, 223);
        box-shadow:rgb(223, 223, 223) 0px 0px 0px 0px inset;
        transition: border 0.4s, box-shadow 0.4s;
        small{
            left: 0px;
            transition: left 0.2s;
        }
        &.open{
            small{
                left: 23px;
            }
            border-color:$baseColor;
            box-shadow: $baseColor 0px 0px 0px 16px inset;
            transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;
            background-color: $baseColor;
        }
    }
}
.input-item{
    select{
        box-sizing:content-box;
    }
}

.load-container{
    background:#3f3f3f;
    width: 150px;
    position:fixed;
    left:50%;
    top:50%;
    margin:-60px 0 0 -75px;
    opacity:0.8;
    text-align:center;
    filter:alpha(opacity=80);
    min-height:120px;
    border:1px solid $fuzzyColor;
    border-radius:5px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
    z-index: 1000000000000000;
    .loader{
        text-align: center;
        padding:18px 0 0;
        img{
            width:50px;
        }

    }
    .tip-txt{
            color:#fff;
            padding:0 5px;
        }
}
.toast{
     z-index: 1000000000000001;
    position:fixed;
    left:0%;
    width: 100%;
    top:50%;
    margin:-15px 0 0;
    text-align:center;
    .msg{
        padding:10px 20px 5px;
        color:#fff;
        background:#3f3f3f;
        min-width: 150px;
        max-width:500px;
        display: inline-block;
        min-height: 32px;
        opacity:0.8;
        
        filter:alpha(opacity=80);
        line-height: 1.5;
        border:1px solid $fuzzyColor;
        border-radius:32px;
        font-size: 18px;
        box-shadow:0 0 15px rgba(0,0,0,0.2);
    }
}

.cut-img-box{

    position:relative;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    .box-img{
        display: inline-block;
        position:relative;
        max-width: 100%;
        line-height: 0;
    }
    img{
        max-width:100%;
    }
}

.drag-box{
    position:absolute !important;
        z-index: 5;
    &.item-point{
        background: rgba(0, 167, 255, 0.2);
        border:1px solid #79c2fd;
        text-align: center;
        .text{
                position:absolute;
                top:50%;
                margin:0 0 -20px; 
                color:#78a9c7;
                left:10%;
                width: 80%;
                text-align: center;
                white-space:nowrap;
                text-overflow:ellipsis; 
                -o-text-overflow:ellipsis;
                 overflow: hidden;
            }
        .pos-top-btn{
            position:absolute;
            top:50%;
            background:#78a9c7;
            left:50%;
            z-index: 6;
            margin:-22px 0 0 -26px;
            
            a{
                color:#fff;
                font-size:20px;
                padding:0 3px;
            }
            
        }
        
    }
    .drag-bar{
        position:absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
        cursor: move;
    }
    .top{
        width: 100%;
        height: 3px;
        top:0;
        left: 0;
        position:absolute;
        z-index: 2;
        cursor: n-resize;
    }
    .right{
        height: 100%;
        width: 3px;
        top:0;
        right: 0;
        position:absolute;
        z-index: 2;
        cursor: e-resize;
    }
    .bottom{
        width: 100%;
        height: 3px;
        bottom:0;
        left: 0;
        position:absolute;
        z-index: 2;
        cursor: n-resize;
    }
    .left{
        height: 100%;
        width: 3px;
        top:0;
        left: 0;
        position:absolute;
        z-index: 2;
        cursor: e-resize;
    }
}

.val-tab{
    display: inline-block;
    border: 1px solid #eee;
    margin:0 10px;
    .val-btn{
        height: 50px;
        line-height: 48px;
        text-align: center;
        border-bottom: 1px solid #eee;
        cursor: pointer;
        font-size: 38px;
        font-weight: 200;

        color: #888;
        @include gradient(#fff,#f1f1f1);
        @include userSelect;
        box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
        &:hover{
            @include gradient(darken(#fff,1.5%),darken(#f1f1f1,1.5%));
        }
    }
    .val-sel-box{
        line-height: 50px;
        font-size: 24px;
        text-align: center;
        padding: 5px 10px;
        color: #444;
        min-width: 60px;
        
    }
}
