$baseFontSize:16px;
$baseColor:#70a938;
$assistColor:#ffb200;
$assistColor2:#ff8a10;
$desaltColor:#999;
$desaltColor2:#666;
$whiteColor:#fff;
$contraryColor:#ce543d;
$contWidth:1200px;
$fontFamily:"Microsoft YaHei";
$fontLineHeight:1.5;
$baseFontColor:#333333;
$colorOrange:#ff8a10;
$colorGray:#f0f0f0;
$fuzzyColor:#e6e6e6;
$fuzzyColor2:#ccc;
$blueColor:#1386df;
$relativeColor:#417CA9;

@import "_mix";
@import "css3";